.resource {
	display: none;
}

canvas {
	position: fixed;
}

#canvas-temp {
	display: none;
}

.test {
	height: 50px;
	width: 50px;
}

button {
	display: inline-block;
}

body {
	/*background: red;*/
}